body {
    padding: 5px;
    padding-top: 40px;
}

.question-label {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    color: #000;
    display: block;
    clear: both;
    padding-top: 45px;
    margin-top: -25px;
}

.one-question-domain {
    background-color: #f1f1f1;
    border-radius: 4px;
    padding-top: 0.3em;
}

.one-question-domain-left {
    color: #B71C1C;
    font-size: .8em;
    float: left;
    margin-left: .5em;
}

.one-question-domain-right {
    color: #00796B;
    font-size: .8em;
    float: right;
    margin-right: .5em;
}

.btn {
    padding: 6px 0px;
    white-space: normal;
}

.buttonClicked {
    background-color: #0275d8 !important;
    color: white !important;
}

.btn-nav
{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    color: #fff;
}

.btn-default-color
{
     background-color: #ddd; 
}

.survey-progress-bar
{
    background-color: white;
}

.survey-progress-bar-div
{
    margin: 10px 10px 15px 10px;
}

.survey-progress-bar-div a {
    font-size: 10px;
}
