body {
    padding: 20px;
}

.question-label {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    font-weight: 200;
    color: #333;
    margin-top: 1em;
    /*margin-bottom: 1em;*/
    display: block;
    clear: both;
}

.one-question-domain {
    background-color: #f1f1f1;
    border-radius: 4px;
    padding-top: 0.3em;
}

.one-question-domain-left {
    color: #B71C1C;
    font-size: .8em;
    float: left;
    margin-left: .5em;
}

.one-question-domain-right {
    color: #00796B;
    font-size: .8em;
    float: right;
    margin-right: .5em;
}

.btn {
    padding: 6px 0px;
    white-space: normal;
}

#buttonAfterClick {
    background-color: #0275d8;
    color: white;
}