{% extends "questionnaire/base.html" %}
{% load static %}

{% block body %}
<div class="text-center" style="padding: 20px;">
    {% if weekly %} 
        <a role="button"
           class="btn btn-primary btn-block"
           href="{% url 'questionnaire:view' 2 patient_id%}">
                Go to weekly questionnaire.</a>
    {% endif %}

    {% if monthly %}
    <a role="button"
       class="btn btn-primary btn-block"
       href="{% url 'questionnaire:view' 1 patient_id%}">
        Go to monthly questionnaire.</a>
    {% endif %}

    {% if not weekly and not monthly %}
        There is no questionnaire available at this time. 
    {% endif %}
    
    <br/>
    {% include 'questionnaire/contact.html' %}
</div>
{% endblock %}