<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400" rel="stylesheet">
    <script $('body').on('click', '.btn-div', function (e) {
        $(this).addClass('active');
        $(this).siblings().removeClass('active');></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="Style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        body {
            padding: 20px;
        }

        .question-label
		{
            font-family: 'Roboto', sans-serif;
            font-size: 18pt;
            font-weight: 200;
            color: #333;
            margin-top: 1em;
            margin-bottom: 1em;
            display: block;
            clear: both;
		}

		.one-question-domain
		{
		  background-color: #f1f1f1;
		  border-radius: 4px;
		  padding-top: 0.3em;
		}

		.not-great
		{
		  font-size: .8em;
		  float: left;
		  margin-left: 0.1em;
		}

		.outstanding
		{
		  font-size: .8em;
		  float: right;
		  margin-right: 0.1em;
		}

		.button-div
		{
		  padding-left: 0;
		  padding-right: 0;
		  width: 10%;
		}

        .btn-first
        {
            border-radius: 4px 0 0 4px;
            border-right-width: 0;
            font-size: 1.2em;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            padding-left: 0;
            padding-right: 0;
        }

		.btn-midder
        {
            border-radius: 0;
            border-right-width: 0;
            font-size: 1.2em;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            padding-left: 0;
            padding-right: 0;
        }

		.btn-last
		{
            border-radius: 0 4px 4px 0;
            font-size: 1.2em;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            padding-left: 0;
            padding-right: 0;
		}

		#buttonAfterClick
		{
			background-color: #6fece2;
			color: white;
		}
    </style>
</head>
<body>


<br><small>Only one button can be selected and keep pressed. </small>
<hr>

<form>
    <div class = "container-fluid">
        <div class = "row">
            <label class = "question-label">Return options</label>
            <div class = "col-md-12 col-sm-12 one-question-domain">
                <label class = "not-great">Not great</label>
                <label class = "outstanding">Outstanding</label>
                <div class = "row" style = "clear: both;">
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default btn-block btn-first">1</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default btn-block btn-midder">2</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">3</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">4</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">5</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">6</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">7</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">8</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">9</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-last">10</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class = "row">    
            <label class = "question-label">Style and design of products</label>
            <div class = "col-md-12 col-sm-12 one-question-domain">
                <label class = "not-great">Not great</label>
                <label class = "outstanding">Outstanding</label>
                <div class = "row" style = "clear: both;">
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default btn-block btn-first">1</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default btn-block btn-midder">2</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">3</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">4</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">5</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">6</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">7</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">8</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">9</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-last">10</button>
                    </div>
                </div>
            </div>
        </div>
            
        
        <div class = "row">
            <label class = "question-label">Quality of products</label>
            <div class = "col-md-12 col-sm-12 one-question-domain">
                <label class = "not-great">Not great</label>
                <label class = "outstanding">Outstanding</label>
                <div class = "row" style = "clear: both;">
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default btn-block btn-first">1</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default btn-block btn-midder">2</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">3</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">4</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">5</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">6</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">7</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">8</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">9</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-last">10</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class = "row">
            <label class = "question-label">Product price/affordability</label>
            <div class = "col-md-12 col-sm-12 one-question-domain">
                <label class = "not-great">Not great</label>
                <label class = "outstanding">Outstanding</label>
                <div class = "row" style = "clear: both;">
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default btn-block btn-first">1</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default btn-block btn-midder">2</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">3</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">4</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">5</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">6</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">7</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">8</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-midder">9</button>
                    </div>
                    <div class = "col-md-1 col-xs-1 button-div">
                        <button type = "button" class = "btn btn-default  btn-block btn-last">10</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label class = "question-label">Your Gender</label>
    <div>
        <input type="radio" name="gender" value="male" checked> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other"> Other
    </div>
</form>git
	<script type="text/javascript">
		function afterClick(index)
		{
				for (var i = 0; i < buttons.length; i++)
				{
					if (i == index)
					{
						buttons[i].id = "buttonAfterClick";
					}
					else
					{
						buttons[i].removeAttribute("id");	
					}
				}
		}

		var buttons = document.getElementsByClassName("btn btn-default btn-block");

		for (var i = 0; i < buttons.length; i++)
		{
			let j = i;
			buttons[j].addEventListener("click",function(){
							afterClick(j);	
						}, false);
		}
	</script>
</body>
</html>