{% load static %}

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400"
          rel="stylesheet">

    <link href="{% static 'questionnaire/style.css' %}" rel="stylesheet"
          type="text/css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>


<h2>
    <center>{{questionnaire.title}}</center>
</h2>
<h3>
    <small>{{questionnaire.description}}</small>
</h3>
<hr>
<form>
    <div class="container-fluid">
        {% for question in questions %}
        {% if question.type == 'SCALE' %}
        <div class="row">
            <label class="question-label">
                {{question.order}}. {{question.question_text}}</label>
            <div class="one-question-domain">
                {{scale}}
                <label class="one-question-domain-left">{{question.labels.0}}</label>
                <label class="one-question-domain-right">{{question.labels.1}}</label>
                <div class="btn-group btn-group-justified">
                    {% for option in question.options%}
                    <div class="btn-group" role="group">
                        <button type="button" name={{question.order}}
                                class="btn btn-default">{{option.option_text}}
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <label class="question-label">
            {{question.order}}. {{question.question_text}}</label>
        <div>
            {% for option in question.options%}
            <input type="radio" name={{option.question}} value={{option.score}}>
            {{option.option_text}} <br>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <hr>
    <button type="submit" class="btn btn-success btn-block">Submit</button>
</form>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    function afterClick(index) {
        for (var i = 0; i < buttons.length; i++) {
            if (i == index) {
                buttons[i].id = "buttonAfterClick";
                var question_id = buttons[i].getAttribute("name");
            }
        }
        for (var i = 0; i < buttons.length; i++) {
            if (i !== index && buttons[i].name == question_id) {
                buttons[i].removeAttribute("id");
            }
        }
    }

    //    var buttons = document.getElementsByClassName("btn btn-secondary btn-block btn-padding");
    var buttons = $("button");

    for (var i = 0; i < buttons.length; i++) {
        let j = i;
        buttons[j].addEventListener("click", function () {
            afterClick(j);
        }, false);
    }
</script>
</body>
</html>