{% extends "questionnaire/base.html" %}
{% load static %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link href="{% static 'response/jquery-ui-datepicker.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'response/jquery-ui.structure.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'response/jquery-ui.theme.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'response/jquery-ui-datepicker.min.js' %}"></script>
<script>
    $(function(){
        var dataset = {{ table|safe}};
        if (dataset.columns) {
            $('#table').DataTable( {
                data: eval(dataset.data),
                columns: dataset.columns.map(function(ele){
                    return {title: ele};
                }),
                dom: 'Bi',
                buttons: ['copy', 'csv', 'excel']
            });
        }
        
        // http://api.jqueryui.com/datepicker/#option-dateFormat
        $("#id_date_from").datepicker(
        );
        $("#id_date_to").datepicker();
    });
</script>
<!--https://datatables.net/download/-->
<!-- With extensions: buttons, html5 export, jszip -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.13/b-1.2.4/b-html5-1.2.4/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.13/b-1.2.4/b-html5-1.2.4/datatables.min.js"></script>
<style>
    body {
        padding: 20px;
        padding-top: 80px;
    }
    table {
        font-size: 12px;
    }
</style>
{% endblock %}


{% block nav %}
<nav class="navbar navbar-form navbar-fixed-top">
    <div class="container-fluid">
        <form id="query" action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</nav>
{% endblock %}

{% block body %}
<table id="table" class="table table-border"></table>
{% endblock %}
